.App{
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

#SideBarComponent{
    position: fixed;
    color: white;
    font-family:  "Patua One", Tahoma, Helvetica, Arial, sans-serif;
    background-color: #FE5F55;
    left:0;
    width: 33%;
    height: 100%
}