.Project{
    display: block;
    margin-top:3%;
    background-color: #88CCF1;
    position: relative;
    left: 3%;
    width: 94%;
    min-height: 150px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px grey;
    margin-bottom: 3%;
}

#ProjectLink{
    display: block;
    position: relative;
    color: white;
    font-family: "Patua One";
    font-size: 20px;
    margin-left:10px;
    margin-top:5px;
    margin-bottom:10px;
}

#link{
    margin-bottom:0px;
}

#ProjectImage{
    float: left;
}


#ProjectTitle{
    display: inline-block;
    margin-left:10px;
    margin-right: 5px;
    font-size: 30px;
    font-family: "Patua One";
    color:white;
    text-shadow: 2px 2px grey;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#ProjectTechnologies{
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    color:white;
    font-family: "Patua One";
    text-shadow: 1px 1px grey;
    padding:0px;
}

#tech{
    margin-bottom: 0px;
}

#ProjectDescription{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    color:white;
    font-family: "Patua One";
    text-shadow: 0.5px 0.5px grey;
}

#descr{
    margin-bottom:0px;
}

#wrapper{
    display: inline-block;
    width: 83%;
    min-height:150px;
}