.Project{
    display: block;
    margin-top:3%;
    background-color: #88CCF1;
    position: relative;
    left: 3%;
    width: 94%;
    min-height: 150px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px grey;
    margin-bottom: 3%;
}

#ProjectLink{
    position: absolute;
    color: white;
    font-family: "Patua One";
    font-size: 20px;
    margin-left:150px;
    left:10px;
    margin-top:120px;
}

#ProjectImage{
    float: left;
    display: inline-block;
    padding: 0px;
    margin:0px;
}

#ProjectTitle{
    display: inline-block;
    margin-left:10px;
    font-size: 30px;
    font-family: "Patua One";
    color:white;
    text-shadow: 2px 2px grey;
}

#ProjectTechnologies{
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    color:white;
    font-family: "Patua One";
    text-shadow: 1px 1px grey;
}

#ProjectDescription{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    color:white;
    font-family: "Patua One";
    text-shadow: 0.5px 0.5px grey;
}

#wrapper{
    display: inline-block;
    width: 83%;
    min-height:150px;
    float:left;
}